body {
  padding: 0;
  margin: 0;
  color: bisque;
}

.container {
  background-image: url(image./bg.jpg);
  height: 1080px;
  max-width: 1920px;
}

.container {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  background-color: black;
}

.navigationRight {
  display: flex;
  flex-direction: row;
}

.logo,
.home,
.second,
.signOut {
  margin: 30px 15px 10px 15px;
}

.films {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
}

.btnFilterFilms {
  margin-left: 30px;
  margin-bottom: 20px;
  justify-content: start;
  background-color: #ff5f05;
  border-radius: 0px;
  border: 0px;
  width: 150px;
  height: 30px;
  color: #fff;
  font-size: 20px;
}

.btnFilterFilms:hover {
  background-color: #c54800;
  cursor: pointer;
}

.cartFilms {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 0px;
  padding-top: 0px;
}

.cartFilm {
  height: 300px;
  width: 250px;
  background-color: #fff;
  background-image: url(image/poster.jpg);
}

.hiddenBlock {
  opacity: 0;
  height: 300px;
  width: 250px;
  transition: all 0.4s ease-out;
}

.hiddenBlock:hover {
  opacity: 0.8;
  background-color: black;
}

.scrollPoint {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  background-color: black;
}

.contactUs {
  margin-bottom: 10px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

.developers {
  display: flex;
  flex-direction: row;
}

a {
  color: #fff;
  text-decoration: none;
}

.irina,
.roman,
.maxim,
.olga,
.vladislav {
  padding-right: 30px;
}

.lodoDevEducation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lodoDevEducationFooter {
  height: 45px;
  width: 210px;
}

.film {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  color: #000;
}

.description {
  width: 600px;
  padding-left: 30px;
  background-color: gray;
}

.movieTitle {
  color: #fff;
  font-size: 36px;
  font-family: Roboto;
  margin-bottom: 30px;
}

.status {
  font-size: 24px;
  font-family: Roboto;
  margin-bottom: 20px;
}

.runtime,
.rate {
  font-size: 18px;
  font-family: Roboto;
}

.rate {
  margin-bottom: 30px;
}

.descriptionFilm {
  font-size: 20px;
  font-family: Roboto;
  margin-bottom: 20px;
}

.btnWatchFilm {
  height: 40px;
  width: 150px;
  color: #fff;
  background-color: #ff5f05;
  border-radius: 90px;
  border: 0;
}

.btnWatchFilm:hover {
  background-color: #c54800;
}

.filterPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  border: 1px solid black;
  color: #000;
  background-color: #000;
  opacity: 0.95;
}

.containerFilter {
  background-color: #2a2d34;
  color: #fff;
  height: 400px;
}

.filterTitles {
  margin-bottom: 25px;
}

.selectGenre {
  margin-bottom: 25px;
}

.action,
.comedy,
.drama,
.family,
.fantasy,
.horror,
.adult {
  display: block;
  margin: 25px 25px 25px 25px;
}

.selectRange {
  display: flex;
  flex-direction: row;
}

.doubleRange {
  width: 250px;
  height: 50px;
  border: 1px solid #fff;
  margin-right: 20px;
  margin-bottom: 20px;
}

.languageSelect {
  display: inline-block;
}

.blockBtnFilter {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.btnFilter {
  background-color: #57aeff;
  border: 0;
  border-radius: 0;
  color: #fff;
  font-size: 24px;
  width: 200px;
  height: 40px;
  transition: all 0.15s ease-out;
}

.btnFilter:hover {
  background-color: #024c90;
  cursor: pointer;
}
